<!-- start top bar -->
<div id="top-bar" class="top-bar--style-1">
    <div class="container">
        <a id="top-bar__logo" class="site-logo" href="/">AGRICOM</a>

        <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

        <nav id="top-bar__navigation" role="navigation">
            <ul>
                <li class="current"><a href="#about">Qui sommes-nous ?</a></li>
                <li>
                    <a href="#services">Nos services</a>
                </li>
                <li><a href="#products">Nos produits</a></li>
                <li><a href="/realisations">Nos réalisations</a></li>
                <li class="li-btn"><a class="custom-btn primary" href="#contact">Nous contacter</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- end top bar -->
