{{> carousel }}

<main role="main">
    <section style="background-color: #f9f9f9;" class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-3">
                    <div class="col-MB-30">
                        <h2>Tu Lime Pamodja Consulting</h2>
                    </div>
                </div>

                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="col-MB-30">
                        <h4>
                           Tu lime Pamodja Consulting en sigle TLP Consult est une entreprise de vente des produits et services agricoles spécialisés
                        </h4>

                        <p>
                            Elle est aussi spécialisée dans l’élaboration et évaluation, consultation et le suivi des projets agricoles. Située dans la ville de Lumbumbashi/Rd Congo. 
                        </p>

                        <p>
                            Tu lime Pamodja Consulting est une entreprise qui a compris non seulement le défi lié à l’insécurité alimentaire mais aussi les difficultés concrètes liées à la production agricole des petits, moyens et grands investisseurs (producteur).
                        </p>

                        <p>
                            C’est dans ce contexte que nous avons en avons faits notre combat en apportons des solutions fiables et durables. Nous mettons à votre disposition les solutions ayant très à la planification, fonctionnement, gestion, expertise (foresterie, Agroforesterie, Agriculture et élevage) et intrants.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--screen  section-services">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="feature feature--style-3">
                        <div class="row justify-content-between">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--5"></i>

                                    <h3 class="feature__item__title  h4">Consultation</h3>

                                    <p>
                                        Evulates vast a real proven works discount secure care. Market invigorate a awesome 
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--4"></i>

                                    <h3 class="feature__item__title  h4">Etude, élaboration, évaluation et exécution des projets agricoles</h3>

                                    <p>
                                        Natural our comes for sold tired value survey brighter genuine brings smells
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--1"></i>

                                    <h3 class="feature__item__title  h4">Intrant</h3>

                                    <p>
                                        Plus extravaganza delectable chosen yummy can't better fresh worthwhile will
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--3"></i>

                                    <h3 class="feature__item__title  h4">Produit vétérinaire et phytosanitaire</h3>

                                    <p>
                                        Citrus stimulates ultimate unlimited energy very genuine spacious silky savor 
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--1"></i>

                                    <h3 class="feature__item__title  h4">Recrutement des techniciens</h3>

                                    <p>
                                        Citrus stimulates ultimate unlimited energy very genuine spacious silky savor 
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--2"></i>

                                    <h3 class="feature__item__title  h4">Produits agricoles</h3>

                                    <p>
                                        Citrus stimulates ultimate unlimited energy very genuine spacious silky savor 
                                    </p>

                                    <p>
                                        <a class="custom-btn primary" href="#">Voir plus</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--background-base-light">
        <div class="container">
            <div class="gallery gallery--style-3">
                <div class="gallery__inner">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 align-self-sm-center">
                            <div class="gallery__item gallery__item--text">
                                <h2>Nos produits</h2>

                                <p>
                                    Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance
                                </p>

                                <a class="gallery-more-link" href="gallery_3.html">Voir nos réalisations</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/2.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="http://player.vimeo.com/video/95974049" data-gallery="gall">
                                            <span class="gallery__item__title">Our Farm</span>
                                            <span class="gallery__item__subtitle">Life Style</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/3.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="../img/gall_img/4_col/3.jpg" data-gallery="gall">
                                            <span class="gallery__item__title">Awesome Fields</span>
                                            <span class="gallery__item__subtitle">Crops</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/4.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="/img/gall_img/4_col/4.jpg" data-gallery="gall">
                                            <span class="gallery__item__title">Fresh Grape</span>
                                            <span class="gallery__item__subtitle">Fruits</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/5.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="/img/gall_img/4_col/5.jpg" data-gallery="gall">
                                            <span class="gallery__item__title">Sweet Redis</span>
                                            <span class="gallery__item__subtitle">Vegatables</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/6.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="/img/gall_img/4_col/6.jpg#" data-gallery="gall">
                                            <span class="gallery__item__title">Huge Wheat</span>
                                            <span class="gallery__item__subtitle">Crops</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/7.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="/img/gall_img/4_col/7.jpg" data-gallery="gall">
                                            <span class="gallery__item__title">Hot Papper</span>
                                            <span class="gallery__item__subtitle">Vegatables</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery__item">
                                <div class="gallery__item__inner">
                                    <figure>
                                        <img src="/img/blank.gif" style="background-image: url('/img/gall_img/4_col/8.jpg');" alt="demo">

                                        <a class="gallery__item__description" href="/img/gall_img/4_col/8.jpg" data-gallery="gall">
                                            <span class="gallery__item__title">Beautiful Carrots</span>
                                            <span class="gallery__item__subtitle">Vegatables</span>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 bg-1">
                    <div class="item">
                        <header class="item__header">
                            <h2 class="item__title">Contactez-nous</h2>
                        </header>

                        <div class="company-contacts">
                            <address>
                                <p>
                                    <i class="fontello-location"></i>
                                    523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA
                                </p>

                                <p>
                                    <i class="fontello-phone-call"></i>
                                    +1 (234) 56789,  +1 987 654 3210
                                </p>

                                <p>
                                    <i class="fontello-mail"></i>
                                    <a href="mailto:support@watchland.com">support@watchland.com</a>
                                </p>
                            </address>

                            <div class="social-btns">
                                <div class="social-btns__inner">
                                    <a class="fontello-twitter" href="#" target="_blank"></a>
                                    <a class="fontello-facebook" href="#" target="_blank"></a>
                                    <a class="fontello-linkedin-squared" href="#" target="_blank"></a>
                                    <a class="fontello-youtube" href="#" target="_blank"></a>
                                    <a class="fontello-gplus" href="#" target="_blank"></a>
                                    <a class="fontello-vimeo" href="#" target="_blank"></a>
                                    <a class="fontello-vkontakte" href="#" target="_blank"></a>
                                    <a class="fontello-instagram" href="#" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 bg-2">
                    <div class="item">
                        <header class="item__header">
                            <h2 class="item__title">Écrivez-nous</h2>
                        </header>
                        <form class="f1 js-contact-form" action="#">
                            <label class="input-wrp">
                                <i class="fontello-user"></i>
                                <input class="textfield" type="text" placeholder="Votre nom" name="name">
                            </label>

                            <label class="input-wrp">
                                <i class="fontello-mail"></i>
                                <input class="textfield" type="text" placeholder="E-mail" name="email">
                            </label>

                            <label class="input-wrp">
                                <i class="fontello-comment"></i>
                                <textarea class="textfield" placeholder="Message" name="message"></textarea>
                            </label>

                            <div class="btn-wrp">
                                <button class="custom-btn long" type="submit" role="button">Envoyer un message</button>
                            </div>

                            <div class="form__note"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
